.main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 98vh;
	width: 100%;
}

body {
	background-image: url("https://images.unsplash.com/photo-1511884642898-4c92249e20b6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0px;
}

.navbar {
	backdrop-filter: blur(10px);
	height: fit-content;
	display: flex;
	align-items: center;
	padding: 10px;
	justify-content: space-between;
	background-color: rgba(0, 0, 0, 0.1);
}
.navbar h2 {
	font-family: "Varela Round", sans-serif;
	display: flex;
	align-items: center;
	color: aliceblue;
	border-radius: 10px;
	border: 0px solid rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(10px);
	width: fit-content;
	padding: 0.5rem 1rem;
	margin: 0px;
	height: 80%;
	/* margin: 0.5em 0.5em; */
}

.view-panel {
	font-family: "Varela Round", sans-serif;
	display: flex;
	height: 90%;
	padding: 10px;
	max-width: 100%;
	justify-content: space-evenly;
	align-items: center;
}

.note-list {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	padding: 10px;
	margin-right: 5px;
	color: #0a090c;
	height: 97%;
	width: 20%;
	overflow-y: auto;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	backdrop-filter: blur(30px);
	scrollbar-width: thin;
	scrollbar-color: rgba(255, 255, 255, 0.8) rgba(0, 0, 0, 0);
	scroll-behavior: smooth;
}
.info {
	color: #ffffff38;
	user-select: none;
	transition: 200ms ease-in;
}

.info:hover {
	color: rgb(255, 255, 255);
}
.info:active {
	color: rgb(255, 0, 0);
	cursor: not-allowed;
}

.unselectable {
	user-select: none;
	transition: 500ms ease-in;
}

.unselectable:active {
	color: rgb(255, 0, 0);
}

.edit-panel {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	color: whitesmoke;
	height: 97%;
	width: 75%;
	border-radius: 15px;
	background-color: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(30px);
	transition: 200ms ease-out;
}

.edit-panel:focus-within {
	background-color: rgba(255, 255, 255, 1);
	color: black;
}

.edit-panel:focus-within svg {
	fill: black;
}

.edit-panel:focus-within .form input {
	color: black;
}
.edit-panel:focus-within .form textarea {
	color: black;
}

.note {
	color: white;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: fit-content;
	width: 100%;
	margin-bottom: 15px;
	border-radius: 7px;
	background-color: rgba(0, 0, 0, 0.25);
	transition: 200ms ease-out, transform 50ms;
}

.note-body p {
	font-weight: 800;
	font-style: italic;
}

.note-body {
	display: flex;
	flex-direction: column;
	text-align: left;
	padding: 3px 10px;
	height: fit-content;
	overflow-wrap: break-word;
	overflow-y: auto;
	transition: 200ms;
	border-radius: 7px 7px 0px 0px;
}

.note-body:hover {
	border-radius: 7px 7px 0px 0px;
	background: #ffffff;
	color: black;
	cursor: pointer;
}
.note-body:active {
	transform: scale(98%);
}

.note-body {
	scrollbar-width: thin;
	scrollbar-color: #404b60 #99b3e5;
}

.note-footer {
	align-items: center;
	font-weight: 100;
	font-size: 12px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom-right-radius: inherit;
	border-bottom-left-radius: inherit;
	padding: 0.5em 1em;
}

.note-footer svg {
	width: 15px;
	transition: 200ms;
	fill: rgba(255, 255, 255, 0.75);
	border: 0px solid black;
	padding: 10px 15px;
	margin-bottom: 5px;
	border-radius: 15px;
	transition: 300ms ease-in-out;
	margin-top: 30px;
}
.note-footer svg:hover {
	fill: rgb(255, 96, 47);
	cursor: pointer;
}
.note-footer svg:active {
	transform: scale(110%);
}

.no-notes {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #183153;
	width: fit-content;
	margin: 20px;
	padding: 20px;
	border-radius: 25px;
	background-color: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(10px);
}

.form {
	display: flex;
	text-align: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.logo {
	height: 50px;
	user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
}
.logo:hover {
	cursor: not-allowed;
}
.logo:active {
	display: none;
}

.submit-btn {
	fill: white;
	width: fit-content;
	height: 20px;
	border: 0px solid black;
	padding: 10px 20px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.2);
	transition: 100ms, fill 300ms ease-in-out;
}

.submit-btn:hover {
	fill: rgb(132, 255, 132);
}
.submit-btn:active {
	border-radius: 25px;
}

.form input {
	font-family: "Varela Round", sans-serif;
	color: rgb(255, 255, 255);
	font-weight: 600;
	font-size: 1em;
	padding: 0px 20px;
	height: 50px;
	border-radius: 10px 10px 0px 0px;
	border: 1px solid rgba(255, 255, 255, 0);
	border-bottom: 1px double rgba(255, 255, 255, 0.05);
	background-color: rgba(228, 228, 228, 0.1);
	backdrop-filter: blur(10px);
	transition: all 200ms;
}
.form textarea {
	font-family: "Varela Round", sans-serif;
	color: rgb(255, 255, 255);
	padding: 0px 20px;
	font-size: 0.9em;
	font-weight: 300;
	border-radius: 0px 0px 10px 10px;
	border: 1px solid rgba(255, 255, 255, 0);
	border-top: none;
	height: 100%;
	margin-bottom: 10px;
	background-color: rgba(228, 228, 228, 0.1);
	backdrop-filter: blur(10px);
	resize: none;
	transition: all 200ms;
}

textarea:hover {
	outline: none;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 0px 0px 10px 10px;
	color: #ffffff;
}
input:hover {
	outline: none;
	border-radius: 10px 10px 0px 0px;
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.1);
}
textarea:focus {
	outline: none;
	border-radius: 0px 0px 50px 50px;
}
input:focus {
	outline: none;
	border-radius: 50px 50px 0px 0px;
}

.form-footer {
	display: flex;
	justify-content: flex-end;
}

@media screen and (max-width: 750px) {
	body {
		padding: 0%;
	}
	.view-panel {
		width: 100%;
		padding: 0px;
	}
	.edit-panel {
		width: 50%;
	}

	.note-list {
		width: 50%;
	}

	.form-header {
		visibility: hidden;
		height: 0px;
	}
	.form {
		text-align: left;
	}
	.form input {
		text-align: center;
		font-size: 0.7em;
		font-weight: 100;
	}
}

@media screen and (max-width: 650px) {
	.view-panel {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		width: 100%;
		padding: 0px;
	}

	.note-list {
		height: 100%;
		width: 50%;
	}
	.edit-panel {
		height: 100%;
		width: 50%;
	}
	.form-header {
		visibility: hidden;
	}
}

@media screen and (max-width: 500px) {
	.view-panel {
		display: flex;
		flex-direction: column;
		width: 100vw;
	}

	.note-list {
		width: 95%;
		padding: 0px;
		margin: 0px;
		height: 60%;
	}

	.edit-panel {
		width: 95%;
		height: 40%;
	}

	.form input {
		color: white;
	}

	.form textarea {
		height: 50%;
	}
}
