.main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 98vh;
	width: 100%;
}
body {
	background-color: #7083a9;
}

.menu-bar {
	display: flex;
	background-color: #0a090c;
	border-radius: 10px;
	color: white;
	width: 100%;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 5px;
}

.view-panel {
	font-family: "Varela Round", sans-serif;
	display: flex;
	height: 100%;
	padding: 10px;
	max-width: 100%;
	justify-content: space-evenly;
	align-items: center;
}

.note-list {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	padding: 10px;
	margin-right: 5px;
	color: #0a090c;
	height: 95%;
	width: 20%;
	max-width: 20%;
	overflow-y: auto;
	border-radius: 25px;
	background: #7083a9;
	box-shadow: 5px 5px 10px #586786, -5px -5px 10px #889fcc;
}
.info {
	color: #0a090c38;
	user-select: none;
}

.unselectable {
	user-select: none;
}

.edit-panel {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #353238;
	padding: 10px;
	color: #0a090c;
	height: 95%;
	width: 75%;
	border-radius: 25px;
	background: #7083a9;
	box-shadow: 5px 5px 10px #586786, -5px -5px 10px #889fcc;
}

.note {
	color: white;
	display: flex;
	justify-content: center;
	flex-direction: column;
	border-radius: 10px;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	max-height: 40%;
	width: 100%;
	margin-bottom: 15px;
	border-radius: 25px;
	background: #7083a9;
	box-shadow: 5px 5px 10px #586786, -5px -5px 10px #889fcc;
	transition: 200ms, transform 50ms;
}
/* .note:hover {
	color: #183153;
} */

.note:active {
	transform: scale(98%);
}

.note-body p {
	font-weight: 800;
	font-style: italic;
}

.note-body {
	display: flex;
	flex-direction: column;
	text-align: left;
	padding: 3px 10px;
	height: fit-content;
	overflow-wrap: break-word;
	overflow-y: auto;
	transition: 200ms;
	border-radius: 25px 25px 0px 0px;
}

.note-body:hover {
	/* transform: translateY(-15%); */
	border-radius: 25px 25px 0px 0px;
	background: #95aee0;
	/* box-shadow: 5px 5px 10px #586786, -5px -5px 10px #889fcc; */
}

.note-body {
	scrollbar-width: thin;
	scrollbar-color: #404b60 #99b3e5;
}

.note-footer {
	align-items: center;
	font-weight: 100;
	font-size: 12px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom-right-radius: inherit;
	border-bottom-left-radius: inherit;
	padding: 0.5em 1em;
}

.note-footer svg {
	width: 15px;
	transition: 200ms;
	fill: white;
	border: 0px solid black;
	padding: 10px 15px;
	margin-bottom: 5px;
	border-radius: 15px;
	background: linear-gradient(145deg, #788cb5, #657698);
	box-shadow: 5px 5px 10px #586786, -5px -5px 10px #889fcc;
	transition: 200ms;
}
.note-footer svg:hover {
	fill: rgb(255, 96, 47);
}
.note-footer svg:active {
	transform: scale(110%);
	border-radius: 25px;
	background: linear-gradient(145deg, #657698, #788cb5);
	box-shadow: 5px 5px 10px #586786, -5px -5px 10px #889fcc;
}

.note-footer button {
	border: 0px solid black;
	border-radius: 5px;
	background: linear-gradient(145deg, #788cb5, #657698);
	box-shadow: 5px 5px 10px #586786, -5px -5px 10px #889fcc;
	transition: 200ms;
}
.note-footer button:active {
	border-radius: 6px;
	background: linear-gradient(145deg, #657698, #788cb5);
	box-shadow: 5px 5px 10px #586786, -5px -5px 10px #889fcc;
}

.no-notes {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #183153;
	width: fit-content;
	margin: 20px;
	padding: 20px;
	border-radius: 25px;
	background: #7083a9;
	box-shadow: 5px 5px 10px #586786, -5px -5px 10px #889fcc;
}

.form {
	display: flex;
	text-align: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.logo {
	height: 50px;
}

.submit-btn {
	fill: white;
	width: max-content;
	height: 20px;
	border: 0px solid black;
	padding: 10px 20px;
	border-radius: 15px;
	background: linear-gradient(145deg, #788cb5, #657698);
	box-shadow: 5px 5px 10px #586786, -5px -5px 10px #889fcc;
	transition: 100ms, fill 300ms ease-in-out;
}

.submit-btn:hover {
	fill: rgb(132, 255, 132);
}
.submit-btn:active {
	border-radius: 25px;
	background: linear-gradient(145deg, #657698, #788cb5);
	box-shadow: 5px 5px 10px #586786, -5px -5px 10px #889fcc;
}

.form h2 {
	display: flex;
	align-items: center;
	color: aliceblue;
	border-radius: 10px;
	border: 0px solid rgba(0, 0, 0, 0);
	background-color: white;
	width: fit-content;
	padding: 0.5rem 1rem;
	margin: 0.5em 0.5em;
	margin-bottom: 1em;
	border-radius: 25px;
	background: linear-gradient(145deg, #788cb5, #657698);
	box-shadow: 5px 5px 10px #586786, -5px -5px 10px #889fcc;
}

.form input {
	font-family: "Varela Round", sans-serif;
	color: rgba(255, 255, 255, 0.5);
	font-weight: 600;
	font-size: 1em;
	text-align: center;
	border: 0px solid rgba(0, 0, 0, 0);
	height: 50px;
	box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
	border-radius: 25px 25px 0px 0px;
	background: #7083a9;
	box-shadow: inset 5px 5px 10px #586786, inset -5px -5px 10px #889fcc;
	transition: all 200ms;
}
.form textarea {
	font-family: "Varela Round", sans-serif;
	color: rgba(255, 255, 255, 0.5);
	font-size: 0.9em;
	font-weight: 300;
	text-align: center;
	border: 0px solid rgba(0, 0, 0, 0);
	box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
	height: 100%;
	margin-bottom: 10px;
	border-radius: 0px 0px 25px 25px;
	background: #7083a9;
	box-shadow: inset 5px 5px 10px #586786, inset -5px -5px 10px #889fcc;
	resize: none;
	transition: all 200ms;
}
textarea:hover {
	outline: none;
	border-radius: 0px 0px 10px 10px;
	color: #ffffff;
	background-color: #a4b5d9;
}
input:hover {
	outline: none;
	background-color: #a4b5d9;
	border-radius: 10px 10px 0px 0px;
	color: #ffffff;
}
textarea:focus {
	outline: none;
	border-radius: 0px 0px 50px 50px;
}
input:focus {
	outline: none;
	border-radius: 50px 50px 0px 0px;
}

.form-footer {
	display: flex;
	justify-content: end;
}

.form-header {
	display: flex;
	justify-content: space-between;
}

.form button {
	border: 0px solid black;
	height: 50px;
	width: fit-content;
	padding: 0px 10px;
	border-radius: 15px;
	background: linear-gradient(145deg, #788cb5, #657698);
	box-shadow: 5px 5px 10px #586786, -5px -5px 10px #889fcc;
	transition: 200ms;
}

.form button:active {
	border-radius: 25px;
	background: linear-gradient(145deg, #657698, #788cb5);
	box-shadow: 5px 5px 10px #586786, -5px -5px 10px #889fcc;
}
@media screen and (max-width: 750px) {
	body {
		padding: 0%;
	}
	.view-panel {
		width: 100%;
		padding: 0px;
	}
}

@media screen and (max-width: 650px) {
	.view-panel {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		width: 100%;
		padding: 0px;
	}

	.note-list {
		height: 100%;
		width: 50%;
	}
	.edit-panel {
		height: 100%;
		width: 500px;
	}
	.form-header {
		visibility: hidden;
	}
}

@media screen and (max-width: 500px) {
	.view-panel {
		display: flex;
		flex-direction: column;
	}
	.view-panel {
		width: 100vw;
	}

	.note-list {
		width: 100vw;
	}
}
